n8n-workflows/text-chat.json
{
  "name": "Text Chat",
  "nodes": [
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "chat",
        "responseMode": "responseNode",
        "options": {}
      },
      "id": "webhook-text-chat",
      "name": "Webhook - Text Chat",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2,
      "position": [250, 300],
      "webhookId": "text-chat"
    },
    {
      "parameters": {
        "url": "http://voice-agent-api:3001/api/chat",
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={{ JSON.stringify({ message: $json.body.message, conversation_id: $json.body.conversation_id || null }) }}",
        "options": {
          "timeout": 120000
        }
      },
      "id": "http-text-chat",
      "name": "Chat API",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [450, 300]
    },
    {
      "parameters": {
        "respondWith": "json",
        "responseBody": "={{ $json }}"
      },
      "id": "respond-to-webhook",
      "name": "Respond to Webhook",
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1.1,
      "position": [650, 300]
    }
  ],
  "connections": {
    "Webhook - Text Chat": {
      "main": [[{"node": "Chat API", "type": "main", "index": 0}]]
    },
    "Chat API": {
      "main": [[{"node": "Respond to Webhook", "type": "main", "index": 0}]]
    }
  },
  "pinData": {},
  "settings": {
    "executionOrder": "v1"
  },
  "staticData": null,
  "tags": [],
  "triggerCount": 0,
  "updatedAt": "2024-01-01T00:00:00.000Z",
  "versionId": "1"
}

