n8n-workflows/voice-agent-main.json
{
  "name": "Voice Agent Main",
  "nodes": [
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "voice-agent",
        "responseMode": "responseNode",
        "options": {}
      },
      "id": "webhook-voice-agent",
      "name": "Webhook - Voice Agent",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 1,
      "position": [250, 300],
      "webhookId": "voice-agent"
    },
    {
      "parameters": {
        "url": "http://voice-agent-api:3001/voice-agent/process",
        "authentication": "none",
        "sendBody": true,
        "bodyParameters": {
          "parameters": [
            {
              "name": "audio_url",
              "value": "={{ $json.body.audio_url }}"
            },
            {
              "name": "audio_data",
              "value": "={{ $json.body.audio_data }}"
            }
          ]
        },
        "options": {}
      },
      "id": "http-voice-agent-api",
      "name": "Voice Agent API",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 1,
      "position": [450, 300]
    },
    {
      "parameters": {
        "respondWith": "json",
        "responseBody": "={{ $json }}"
      },
      "id": "respond-to-webhook",
      "name": "Respond to Webhook",
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1,
      "position": [650, 300]
    }
  ],
  "connections": {
    "Webhook - Voice Agent": {
      "main": [[{"node": "Voice Agent API", "type": "main", "index": 0}]]
    },
    "Voice Agent API": {
      "main": [[{"node": "Respond to Webhook", "type": "main", "index": 0}]]
    }
  },
  "pinData": {},
  "settings": {
    "executionOrder": "v1"
  },
  "staticData": null,
  "tags": [],
  "triggerCount": 0,
  "updatedAt": "2024-01-01T00:00:00.000Z",
  "versionId": "1"
}

